RewriteEngine On

# Bỏ qua nếu là file hoặc thư mục thật
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Chuyển hướng request về admin.php
RewriteRule ^(.+)$ admin.php?page=$1 [QSA,L]
