<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>
        TodoList
    </title>
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>
    <nav class="navbar">
        <ul class='menu-left'>
            <li>
                <a href="/TodoList-App/">
                </a>
            </li>
        </ul>
        <ul class='menu-right'>
            <li>
                <a href="/TodoList-App/admin/dashboard">Quản Lý Task</a>
            </li>
        </ul>
    </nav>
</body>

</html>
</div>
<footer>
    <p>© 2025 TodoList Test</p>
</footer>
</body>

</html>